*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
libs/
src/main/res/drawable-hdpi/account_login.9.png
src/main/res/drawable-hdpi/button_bidan_off.9.png
src/main/res/drawable-hdpi/button_bidan_on.9.png
src/main/res/drawable-hdpi/button_fisioterapi_off.9.png
src/main/res/drawable-hdpi/button_fisioterapi_on.9.png
src/main/res/drawable-hdpi/button_homecare_off.9.png
src/main/res/drawable-hdpi/button_homecare_on.9.png
src/main/res/drawable-hdpi/button_laboratorium_off.9.png
src/main/res/drawable-hdpi/button_laboratorium_on.9.png
src/main/res/drawable-hdpi/button_perawat_off.9.png
src/main/res/drawable-hdpi/button_perawat_on.9.png
src/main/res/drawable-hdpi/divider_horizontal.9.png
src/main/res/drawable-hdpi/divider_vertical.9.png
src/main/res/drawable-hdpi/ic_tab_account_dark.9.png
src/main/res/drawable-hdpi/ic_tab_account_light.9.png
src/main/res/drawable-hdpi/ic_tab_home_dark.9.png
src/main/res/drawable-hdpi/ic_tab_home_light.9.png
src/main/res/drawable-hdpi/ic_tab_redeempoint_dark.9.png
src/main/res/drawable-hdpi/ic_tab_redeempoint_light.9.png
src/main/res/drawable-hdpi/ic_tab_yourorder_dark.9.png
src/main/res/drawable-hdpi/ic_tab_yourorder_light.9.png
src/main/res/drawable-hdpi/login_logo.9.png
src/main/res/drawable-hdpi/remove_icon.9.png
src/main/res/drawable-hdpi/slider_logo.9.png
src/main/res/drawable-mdpi/account_login.9.png
src/main/res/drawable-mdpi/button_bidan_off.9.png
src/main/res/drawable-mdpi/button_bidan_on.9.png
src/main/res/drawable-mdpi/button_fisioterapi_off.9.png
src/main/res/drawable-mdpi/button_fisioterapi_on.9.png
src/main/res/drawable-mdpi/button_homecare_off.9.png
src/main/res/drawable-mdpi/button_homecare_on.9.png
src/main/res/drawable-mdpi/button_laboratorium_off.9.png
src/main/res/drawable-mdpi/button_laboratorium_on.9.png
src/main/res/drawable-mdpi/button_perawat_off.9.png
src/main/res/drawable-mdpi/button_perawat_on.9.png
src/main/res/drawable-mdpi/divider_horizontal.9.png
src/main/res/drawable-mdpi/divider_vertical.9.png
src/main/res/drawable-mdpi/ic_tab_account_dark.9.png
src/main/res/drawable-mdpi/ic_tab_account_light.9.png
src/main/res/drawable-mdpi/ic_tab_home_dark.9.png
src/main/res/drawable-mdpi/ic_tab_home_light.9.png
src/main/res/drawable-mdpi/ic_tab_redeempoint_dark.9.png
src/main/res/drawable-mdpi/ic_tab_redeempoint_light.9.png
src/main/res/drawable-mdpi/ic_tab_yourorder_dark.9.png
src/main/res/drawable-mdpi/ic_tab_yourorder_light.9.png
src/main/res/drawable-mdpi/login_logo.9.png
src/main/res/drawable-mdpi/remove_icon.9.png
src/main/res/drawable-mdpi/slider_logo.9.png
src/main/res/drawable-xhdpi/account_login.9.png
src/main/res/drawable-xhdpi/button_bidan_off.9.png
src/main/res/drawable-xhdpi/button_bidan_on.9.png
src/main/res/drawable-xhdpi/button_fisioterapi_off.9.png
src/main/res/drawable-xhdpi/button_fisioterapi_on.9.png
src/main/res/drawable-xhdpi/button_homecare_off.9.png
src/main/res/drawable-xhdpi/button_homecare_on.9.png
src/main/res/drawable-xhdpi/button_laboratorium_off.9.png
src/main/res/drawable-xhdpi/button_laboratorium_on.9.png
src/main/res/drawable-xhdpi/button_perawat_off.9.png
src/main/res/drawable-xhdpi/button_perawat_on.9.png
src/main/res/drawable-xhdpi/divider_horizontal.9.png
src/main/res/drawable-xhdpi/divider_vertical.9.png
src/main/res/drawable-xhdpi/ic_tab_account_dark.9.png
src/main/res/drawable-xhdpi/ic_tab_account_light.9.png
src/main/res/drawable-xhdpi/ic_tab_home_dark.9.png
src/main/res/drawable-xhdpi/ic_tab_home_light.9.png
src/main/res/drawable-xhdpi/ic_tab_redeempoint_dark.9.png
src/main/res/drawable-xhdpi/ic_tab_redeempoint_light.9.png
src/main/res/drawable-xhdpi/ic_tab_yourorder_dark.9.png
src/main/res/drawable-xhdpi/ic_tab_yourorder_light.9.png
src/main/res/drawable-xhdpi/login_logo.9.png
src/main/res/drawable-xhdpi/remove_icon.9.png
src/main/res/drawable-xhdpi/slider_logo.9.png
src/main/res/drawable-xxhdpi/account_login.9.png
src/main/res/drawable-xxhdpi/button_bidan_off.9.png
src/main/res/drawable-xxhdpi/button_bidan_on.9.png
src/main/res/drawable-xxhdpi/button_fisioterapi_off.9.png
src/main/res/drawable-xxhdpi/button_fisioterapi_on.9.png
src/main/res/drawable-xxhdpi/button_homecare_off.9.png
src/main/res/drawable-xxhdpi/button_homecare_on.9.png
src/main/res/drawable-xxhdpi/button_laboratorium_off.9.png
src/main/res/drawable-xxhdpi/button_laboratorium_on.9.png
src/main/res/drawable-xxhdpi/button_perawat_off.9.png
src/main/res/drawable-xxhdpi/button_perawat_on.9.png
src/main/res/drawable-xxhdpi/divider_horizontal.9.png
src/main/res/drawable-xxhdpi/divider_vertical.9.png
src/main/res/drawable-xxhdpi/ic_tab_account_dark.9.png
src/main/res/drawable-xxhdpi/ic_tab_account_light.9.png
src/main/res/drawable-xxhdpi/ic_tab_home_dark.9.png
src/main/res/drawable-xxhdpi/ic_tab_home_light.9.png
src/main/res/drawable-xxhdpi/ic_tab_redeempoint_dark.9.png
src/main/res/drawable-xxhdpi/ic_tab_redeempoint_light.9.png
src/main/res/drawable-xxhdpi/ic_tab_yourorder_dark.9.png
src/main/res/drawable-xxhdpi/ic_tab_yourorder_light.9.png
src/main/res/drawable-xxhdpi/login_logo.9.png
src/main/res/drawable-xxhdpi/remove_icon.9.png
src/main/res/drawable-xxhdpi/slider_logo.9.png
src/main/res/drawable-xxxhdpi/account_login.9.png
src/main/res/drawable-xxxhdpi/button_bidan_off.9.png
src/main/res/drawable-xxxhdpi/button_bidan_on.9.png
src/main/res/drawable-xxxhdpi/button_fisioterapi_off.9.png
src/main/res/drawable-xxxhdpi/button_fisioterapi_on.9.png
src/main/res/drawable-xxxhdpi/button_homecare_off.9.png
src/main/res/drawable-xxxhdpi/button_homecare_on.9.png
src/main/res/drawable-xxxhdpi/button_laboratorium_off.9.png
src/main/res/drawable-xxxhdpi/button_laboratorium_on.9.png
src/main/res/drawable-xxxhdpi/button_perawat_off.9.png
src/main/res/drawable-xxxhdpi/button_perawat_on.9.png
src/main/res/drawable-xxxhdpi/divider_horizontal.9.png
src/main/res/drawable-xxxhdpi/divider_vertical.9.png
src/main/res/drawable-xxxhdpi/ic_tab_account_dark.9.png
src/main/res/drawable-xxxhdpi/ic_tab_account_light.9.png
src/main/res/drawable-xxxhdpi/ic_tab_home_dark.9.png
src/main/res/drawable-xxxhdpi/ic_tab_home_light.9.png
src/main/res/drawable-xxxhdpi/ic_tab_redeempoint_dark.9.png
src/main/res/drawable-xxxhdpi/ic_tab_redeempoint_light.9.png
src/main/res/drawable-xxxhdpi/ic_tab_yourorder_dark.9.png
src/main/res/drawable-xxxhdpi/ic_tab_yourorder_light.9.png
src/main/res/drawable-xxxhdpi/login_logo.9.png
src/main/res/drawable-xxxhdpi/remove_icon.9.png
src/main/res/drawable-xxxhdpi/slider_logo.9.png
src/main/res/drawable-xhdpi/ic_tab
_account_light.9.png
