<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.smartin.org.homecaretimedic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCs06OoysZqT-UN1-er9Ob7q6cXzVPnViY" />
        <!-- AIzaSyCgeY-IX8PcKisRf7KqiRcUTJqlNOX2bGM -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ScreenSlideActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MedicalRecordActivity"
            android:label="@string/act_medical_record" />
        <activity
            android:name=".HomecareActivity"
            android:label="@string/act_homecare" />
        <activity
            android:name=".HealthCalculatorActivity"
            android:label="@string/act_heatlh_calculator" />
        <activity
            android:name=".HealthProductActivity"
            android:label="@string/act_health_product" />
        <activity
            android:name=".HealthVideoActivity"
            android:label="@string/act_health_video" />
        <activity
            android:name=".MedicineReminderActivity"
            android:label="@string/act_medicine_reminder" />
        <activity
            android:name=".MapSelectorActivity"
            android:label="@string/act_map_selector"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".HCAssestmentActivity"
            android:label="@string/act_assessment" />
        <activity
            android:name=".LayananLokasiActivity"
            android:label="@string/act_layanan_lokasi"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AcceptanceActivity"
            android:label="@string/act_resume" />
        <activity android:name=".MedicalResActivity" />
        <activity
            android:name=".DateTimePickActivity"
            android:label="@string/act_date_time_pick" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/act_sign_up" />
        <activity
            android:name=".CekLabOptionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".AddUserCustomerActivity"
            android:label="@string/act_add_patient" />
        <activity
            android:name=".SelectCustomerActivity"
            android:label="@string/act_select_patient" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".VideoPlayerActivity" />
        <activity
            android:name=".CalculatorBBI"
            android:label="@string/act_bbi" />
        <activity
            android:name=".CalculatorFluidReq"
            android:label="@string/act_fluid_req" />
        <activity
            android:name=".CalculatorCaloricNeeds"
            android:label="@string/act_callories_calc" />
        <activity
            android:name=".CalculatorIMT"
            android:label="@string/act_imt" />
        <activity
            android:name=".CalculatorPregnancyEst"
            android:label="@string/act_preg_cal" />
        <activity android:name=".LocationOnlyActivity" />
        <activity
            android:name=".LabAcceptanceActivity"
            android:label="@string/act_resume" />

        <service android:name=".service.FireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AccountSettingActivity"
            android:label="@string/act_account_setting" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/act_change_pass" />
        <activity
            android:name=".FUserSignUpActivity"
            android:label="@string/act_sign_up" />
        <activity
            android:name=".OrderDetailsActivity"
            android:label="@string/act_order_detail" />
        <activity
            android:name=".MapViewerActivity"
            android:label="@string/act_map_viewer" />
        <activity android:name=".RateCaregiverActivity"></activity>
    </application>

</manifest>